/* body.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-size: xx-large;
}

hr {
    width: 500px;
    height: 5px;
    background-color: black;
    margin: auto;
}

body {
    background-color: burlywood;
}

.box {
    height: 300px; /* Set the height to accommodate a 3x3 grid */
    width: 300px; /* Set the width to accommodate a 3x3 grid */
    background-color: rgb(20, 21, 21);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    grid-template-rows: repeat(3, 1fr);
    padding-left:2px; /* Create 3 equal rows */
    padding-top: 2px;
}

.cell {
    height: 98%;
    width: 98%;
    background-color: rgb(251, 243, 3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    font-size: 50px; /* Increase font size for X and O */
    font-weight: bold; /* Make the font bold for X and O */
}
#rah{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

    

